.product-details .price {
    font-size: 1rem;
    font-weight: 500;
}

.product-details .btn-add-to-cart {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 80%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: .25rem;
    margin: 3rem 0 1.75rem;
}

.product-details .btn-add-to-cart:hover {
    text-decoration: none;
    background-color: #cf2a3b;
}

.product-details .size {
    font-size: .95rem;
    font-style: italic;
    margin-bottom: .5rem;
    font-weight: bold;
}

.product-details .description {
    font-size: .9rem;
    font-style: italic;
    line-height: 1.45rem;
}